<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Bibliothèque</title>
	</head>
	<body>

		{% for geditor in geditors.getAll %}
			<h2>{{ geditor.name }}</h2>
		{% endfor %}

        {% for glicence in glicences.getAll %}
			<h2>{{ glicence.name }}</h2>
		{% endfor %}

		{% block main %}{% endblock %}

	</body>
</html>