{% extends "front/base.html.twig" %}

{% block main %}

	{% for licence in licences %}

		<h2>
			<a href="{{ path("licence_show", {'id' : licence.id } ) }}">{{licence.name}}</a>
		</h2>

	{% endfor %}

{% endblock %}